.heading{
    font-size: 40px;
    font-weight: 600;
    font-family: "mathe";
    line-height: 40px;
}

.content{
    font-size: 16px;
    font-weight: 400;
    font-family: "mathe";
    line-height: 24px;
    color:rgb(56, 56, 56)
}

.container{
    background-color: #ffffef;
    margin-top: 50px;
    border-radius: 999px;
}