.listItem{
    margin:0px 20px;
    color:#4A5568;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.logo{
    margin:15px;
     font-weight: 700;
    font-size: 25px;
    line-height: 20px;
     color:#FF8533;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li:hover{
    cursor: pointer;
    color:#FF8533;
}

.signup{
    margin:0px 20px;
    color:white;
    font-weight: 300;
    font-size: 25px;
    line-height: 20px;
    border-radius: 999px;
    background-color: #FF8533;
    padding:8px;
   transition: all 0.3s ease;
}

.signup:hover{
    cursor: pointer;
    color:white;
    transform: translateY(-5px);
}
