@keyframes moveAndRotate {
  0% {
    transform: translateX(100vw) rotate(0deg);
  }
  80% {
    transform: translateX(0) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.hero{
    background-color: rgb(11, 8, 43);
}

.image{
    border-radius: 100%;
    animation: moveAndRotate 2s ease-out forwards;
}

.text{
    color:white;
}