@keyframes moveAndRotate {
  0% {
    transform: translateX(100vw) rotate(0deg);
  }
  80% {
    transform: translateX(0) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.hero {
  background-color: rgb(11, 8, 43);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  height: 40em;
}

.image {
  border-radius: 100%;
  animation: moveAndRotate 2s ease-out forwards;
  width: 500px;
  height: 500px;
}

@media (min-width: 800px) and (max-width: 1300px) {
  .image {
    width: 400px;
    height: 400px;
  }
}

.text {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 50%;
}

.download {
  padding: 20px;
  border-radius: 4%;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  cursor: pointer;
  border: white;
  background-color: azure;
}

.download:hover {
  cursor: pointer;
  background-color: aqua;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
  }
  .image {
    width: 200px;
    height: 200px;
  }

  .headline{
    text-align: center;
    margin: 0;
  }
  .text {
    width:90vw;
    padding-left:10px;
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
  }
}
